.menuContainer {

  width: fit-content;

  display: inline-block;

  :global {

    .menu {

      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
  
      display: flex;
      justify-content: space-between;
      gap: 30px;
  
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
  
      list-style: none;
  
      &.dark {
        color: #ffffff;
        li.selected {
          border-bottom-color: #ffffff;
        }
      }
    
      &.light {
        color: #1a1a1a;
        li.selected {
          border-bottom-color: #1a1a1a;
        }
      }
  
      li {
        position: relative;
        top: 3px;
        cursor: pointer;
        padding-bottom: 5px;
      }
  
      li.selected {
        font-weight: 700;
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }

    }

  }

}
