html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Inter';

  transition: background-color 0.8s;
}

body.light {
  background-color: #ffffff;
}

body.dark {
  background-color: #090D1F;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}