@import './theme-variable.scss';
@import './theme-mixin.scss';

html, body {
  position: relative;
  padding: 0;
  height: 100%;
  font-family: 'Inter';
  transition: all 1s;
}

body {
  margin: auto;
  max-width: 1440px;
  @include background-color($background-color-default);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}