@import "../../styles/theme-variable.scss";

.header {

  position: fixed;

  padding: 30px 112px;
  width: 100%;
  height: $header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  :global {
    .right {
      display: flex;
      align-items: center;
      gap: 22px;
    }
  }

}